<div class="header">
    <div class="header-wrapper">
        <div class="logo-wrapper">
            <div class="logo">schulstick.org</div>
        </div>
        <div class="nav-wrapper">
            <nav>
                <a href="/" class="{% if include.currentPage=='home'%} active {%endif%} tab">Home</a>
                <a href="/downloads/" class="{% if include.currentPage=='downloads'%} active {%endif%} tab">Download</a>
                <a href="/about/" class="{% if include.currentPage=='other'%} active {%endif%} tab">Sonstiges?</a>
            </nav>
        </div>
    </div>
</div>