---
layout: default
---
{% include header.html %}
    <div class="image-slider">
        <div class="single-big">
            <img class="back">
            <img class="front" src="assets\img\slider\Schulstick_16_9_blaue Version.webp">
        </div>
        <div class="multiple-small">
            {% for image in site.static_files %}
                {% if image.path contains 'img/slider' %}
                    <div class="single-small">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" onclick="switchImage(this, true)">
                        <div class="overlay">
                            <p class="loading">{{ image.path }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="content">
        {{content}}
    </div>
{% include footer.html%}